:root {

  --bg-button_active: #ccc;
  --border-button: solid 1px #888;
  
}

.button-calc {

  font-size: 1.4em;

  background-color: #ddd;
  
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);

  outline: none;
}

.button-calc:active {
  background-color: #bbb;
}

.button-calc.double {
  grid-column: span 2;
}
.button-calc.triple {
  grid-column: span 3;
}

.button-calc.operation {
  background-color: #63d605;
  color: #111111;

  border: none;
  border-bottom: solid 1px #888;
}
.button-calc.operation:active {
  background-color: #7be822;
}